<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.order.ProductDao" >

	<select id="count" resultType="int">
        SELECT
          COUNT(id)
        FROM
          st_product
		<trim prefix="WHERE" prefixOverrides="AND |OR ">  
			<if test="filter.search != null and filter.search != ''">
				<bind name="filter.search" value=" filter.search + '%' " />
	            OR product_name LIKE #{filter.search}
			</if>
	
			<if test="filter.search != null and filter.search != ''">
	            OR id LIKE #{filter.search}
			</if>
		</trim> 
	</select>
	
	<select id="getProductListByProductIds" resultType="product">
        SELECT 
          p.id AS "productId",
          brand_name AS "brandName",
          product_name AS "productName",
          product_num AS "productNum",
          brand_id AS "brandId",
          spec_value AS "specValue",
          unit_value AS "unitValue",
          catalog_fee AS "catalogFee",
          p.del_flag AS "delFlag"
        FROM
           st_product p left join st_product_brand pb
        ON (p.brand_id = pb.id)
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="productIds != null and productIds.size > 0">
	            AND p.id IN
				<foreach collection="productIds" item="id" index="index" open="(" separator="," close=")" >
	                #{id}
				</foreach>
			</if>
		</trim>
	</select>
	
	<select id="getProductByProductId" resultType="product">
        SELECT
          p.id AS "productId",
          brand_name AS "brandName",
          product_name AS "productName",
          product_num AS "productNum",
          brand_id AS "brandId",
          spec_value AS "specValue",
          unit_value AS "unitValue",
          catalog_fee AS "catalogFee",
          p.del_flag AS "delFlag"
        FROM
           st_product p left join st_product_brand pb
        ON (p.brand_id = pb.id)
		WHERE
		  p.id = #{productId}
	</select>

</mapper>