<div class="container">
  <div class="footerBar"> 
    <!-- <div class="fr foot_logo"></div> -->
    <div style="width:800px;margin:0px auto"> <br>
      <p> 版权所有 &copy; 2014 纳川创奇. All Rights Reserved. 保留所有权利。</p>
      <div class="bot_list clearfix">
        <ul>
          <h3>订购支付</h3>
          <li>购物流程</li>
          <li>询价说明</li>
          <li>订购方式</li>
        </ul>
      </div>
      <div class="bot_list">
        <ul>
          <h3>支付方式</h3>
          <li>发票制度</li>
          <li>汇款信息</li>
          <li>预付优惠</li>
        </ul>
      </div>
      <div class="bot_list">
        <ul>
          <h3> 关于配送</h3>
          <li>配送范围</li>
          <li>配送费用</li>
          <li>配送时间</li>
        </ul>
      </div>
      <div class="bot_list">
        <ul>
          <h3>售后服务</h3>
          <li>销售条款</li>
          <li>退换说明</li>
          <li>退换原则</li>
        </ul>
      </div>
      <div class="bot_list">
        <ul>
          <h3>关于我们</h3>
          <li>公司介绍</li>
          <li>会员服务</li>
          <li>招贤纳士</li>
        </ul>
      </div>
    </div>
  </div>
</div>