<!DOCTYPE html>
<html lang="en">
    <head>
        <title>$!page_title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Core CSS - Include with every page -->
        <link href="#springUrl('/resources/css/bootstrap.min.css')" rel="stylesheet" />
        <link href="#springUrl('/resources/css/bootstrap-theme.css')" rel="stylesheet" />
        <link href="#springUrl('/resources/font-awesome/css/font-awesome.css')" rel="stylesheet" />
        <link href="#springUrl('/resources/css/c3.css')" rel="stylesheet" />
		
		<!-- Core Scripts - Include with every page -->
        <script src="#springUrl('/resources/script/jquery-2.1.0.js')"></script>
        <script src="#springUrl('/resources/script/bootstrap.min.js')"></script>
        <script src="#springUrl('/resources/script/jquery.mCustomScrollbar.js')"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body>
        <header>#parse('/layout/header.vm')</header>
        #parse('/layout/content.vm')
        <footer>#parse('/layout/footer.vm')</footer>
    </body>
</html>