<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$!page_title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- Core css - Include with every page -->
        <link href="#springUrl('/resource/css/style.css')" rel="stylesheet" type="text/css" />
		<link href="#springUrl('/resource/css/reset.css')" rel="stylesheet" type="text/css" />
		
		<!-- Core Scripts - Include with every page -->
        <script type="text/javascript" src="#springUrl('/resource/js/jquery-1.8.2.js')"></script>
        <script type="text/javascript" src="#springUrl('/resource/js/init.js')"></script>
        <script type="text/javascript" src="#springUrl('/resource/js/jquery.ui.core.js')"></script>
        <script type="text/javascript" src="#springUrl('/resource/js/jquery.ui.widget.js')"></script>
        <script type="text/javascript" src="#springUrl('/resource/js/jquery.ui.datepicker.js')"></script>
    </head>
    <body>
        <header>#parse('/layout/header.vm')</header>
		#parse('/layout/content.vm')
        <footer>#parse('/layout/footer.vm')</footer>
    </body>
</html>