<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<description>Lucene</description>
	
	<context:property-placeholder ignore-resource-not-found="true" location="classpath*:/application.properties" />
	
	<!-- set the Lucene version -->
	<util:constant id="LUCENE_VERSION" static-field="org.apache.lucene.util.Version.LUCENE_40" />
	
	<!-- set the IndexWriter Open -->
	<util:constant id="OPEN_MODE" static-field="org.apache.lucene.index.IndexWriterConfig.OpenMode.CREATE" />
	
	<!-- set your analyzer, to be used by the IndexWriter and QueryParser KeywordAnalyzer, StandardAnalyzer-->
	<bean id="luceneAnalyzer" class="org.apache.lucene.analysis.standard.StandardAnalyzer">
		<constructor-arg ref="LUCENE_VERSION"/>
	</bean>
	<!-- 
	<bean id="luceneAnalyzer" class="org.apache.lucene.analysis.core.KeywordAnalyzer" />
	 -->
	<!-- set your Lucene directory -->
	<!-- in this case I am pulling the location from a properties file -->
	<!-- also, using the SimpleFSLockFactory -->
	<!--
	<bean id="luceneDirectory" class="org.apache.lucene.store.FSDirectory" factory-method="open">
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="${config.search.indexDir}" />
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="org.apache.lucene.store.NoLockFactory" />
		</constructor-arg>
	</bean>
	-->
	
	<!--
	<bean id="productInfoWriter" class="com.saituo.order.service.variable.ProductInfoWriter" init-method="init" destroy-method="close">
		<property name="productDao" ref="productDao"/>
	</bean>
	-->

	<!-- define the IndexSearcher -->
	
	<!--
		<bean id="indexSearcher" class="org.apache.lucene.search.IndexSearcher">
			<constructor-arg ref="indexReader" />
		</bean>

		<bean id="indexReader" class="org.apache.lucene.index.IndexReader" />
		-->
	
</beans>