<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<description>Spring MVC 3配置 </description>
	
	<context:property-placeholder ignore-resource-not-found="true" location="classpath*:/application.properties" />

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.saituo.order.web" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<mvc:view-controller path="/" view-name="redirect:/order/user/list" />

	<!-- 使用缓存mvc注解配置 -->
	<mvc:annotation-driven>
		<!-- 配置StringHttpMessageConverter当@ResponseBody 时中文正常显示 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- spring mvc 的资源路径 -->
	<mvc:resources mapping="/resource/**" location="/resource/" />

	<!-- 使用默认的servlet handler -->
	<mvc:default-servlet-handler />
	
	<!-- 启动文件上传Resolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- 启用shrio授权注解拦截方式  -->
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- setting validation implementor,actually HibernateValidator is java validation interface default implementor-->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"> 
		<!--<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/> -->
		<property name="validationMessageSource" ref="messageSource"/> 
	</bean>
	
	<!-- bind i18n messages properties,this just setting zh_CN message -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> 
		<property name="useCodeAsDefaultMessage" value="false"/> 
		<property name="defaultEncoding" value="UTF-8"/> 
		<property name="fallbackToSystemLocale" value="true"/> 
		<property name="basenames"> 
			<list> 
				<value>bundle/messages</value>    
				<value>bundle/ValidationMessages</value>
			</list> 
		</property> 
	</bean>

	<!-- freemarker的格式和其他配置 -->
	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/page/" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings" ref="freemarkerConfiguration" />
	</bean>
	
	<bean id="freemarkerConfiguration"  
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
		<property name="location" value="classpath:freemarker.properties" />  
	</bean>  

	<!-- FreeMarker视图解析,在这里配置后缀名ftl和视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".html" />
		<property name="requestContextAttribute" value="request" />
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>
	
</beans>
