<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.user.AddressDao" >

	<insert id="insert" useGeneratedKeys="true" keyProperty="addressId">
        insert into st_address(
			user_id,
			receipt_address ,
			receipt_person ,
			contact_phone ,
			invoice_caput ,
			invoice_require ,
			other_require 
        ) values (
          #{userId},
          #{receiptAddress},
          #{receiptPerson},
          #{contactPhone},
          #{invoiceCaput},
          #{invoiceRequire},
          #{otherRequire}
        )
	</insert>
	
	<update id="update">  
        update st_address  
		<trim prefix="set" suffixOverrides=",">  
			<if test="receiptAddress != null">  
                  receipt_address = #{receiptAddress},  
			</if>  
			<if test="receiptPerson != null">  
                   receipt_person = #{receiptPerson},  
			</if>
			<if test="contactPhone != null">  
                   contact_phone = #{contactPhone},  
			</if>
			<if test="invoiceCaput != null">  
                   invoice_caput = #{invoiceCaput},  
			</if>
			<if test="invoiceRequire != null">  
                   invoice_require = #{invoiceRequire},  
			</if>
			<if test="otherRequire != null">  
                   other_require = #{otherRequire},  
			</if>
		</trim>
        where address_id = #{addressId}  
	</update>  
	


	<select id="query"  resultType="address">
		select
			address_id as addressId ,
			user_id as userId,
			receipt_address as receiptAddress ,
			receipt_person as receiptPerson ,
			contact_phone  as contactPhone,
			invoice_caput as invoiceCaput ,
			invoice_require  as invoiceRequire,
			other_require as otherRequire
		from st_address
		where
		address_id = #{addressId}
	</select>

	<select id="queryList" resultType="address">
		select
			address_id as addressId ,
			user_id as userId,
			receipt_address as receiptAddress ,
			receipt_person as receiptPerson ,
			contact_phone  as contactPhone,
			invoice_caput as invoiceCaput ,
			invoice_require  as invoiceRequire,
			other_require as otherRequire
		from st_address
		where
		user_id =#{userId}
	</select>
	
	<delete id="delete">
		delete from st_address
		where address_id = #{addressId}
	</delete> 
</mapper>