<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.user.CustomerBeanDao" >

	<insert id="insert" parameterType="customerBean">
        insert into st_cust_beans(
          id,
          cust_id,
          beans_num
        ) values (
          #{id},
          #{userId},
          #{bean}
        )
	</insert>

</mapper>