<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.user.UserGroupPointHisDao">

	<insert id="insert" useGeneratedKeys="true" keyProperty="pointId">
        insert into st_user_group_point_his(
			group_id,
			point_type ,
			point_balance ,
			register_number,
			accept_person,
			accept_date 
        ) values (
          #{groupId},
          #{pointType},
          #{pointBalance},
          #{registerNumber},
          #{acceptPerson},
          now()
        )
	</insert>
	
	<select id="queryList" resultType="userGroupPointHis">
		select
			point_id as  pointId,
			group_id as groupId,
			point_type  as pointType,
			point_balance  as pointBalance,
			register_number as registerNumber,
			accept_person as acceptPerson,
			accept_date as acceptDate
		from st_user_group_point_his
		where
		group_id =#{groupId}
	</select>
	
	<select id="queryByRegisterNumber" resultType="userGroupPointHis">
		select
			point_id as  pointId,
			group_id as groupId,
			point_type  as pointType,
			point_balance  as pointBalance,
			register_number as registerNumber,
			accept_person as acceptPerson,
			accept_date as acceptDate
		from st_user_group_point_his
		where
		register_number =#{registerNumber}
		and point_type=#{pointType}
	</select>

</mapper>