<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.user.UserOrderDao">

	<insert id="insert" useGeneratedKeys="true" keyProperty="userOrderId">
		insert into st_user_order(
		user_id,
		area_id,
		group_id,
		address_id,
		accept_date,
		status_cd
		) values (
		#{userId},
		#{groupId},
		#{areaId},
		#{addressId},
		now(),
		#{statusCd}
		)
	</insert>

	<update id="update">
		update st_user_order set
		status_Cd = #{statusCd}
		where user_order_id = #{userOrderId}
	</update>

	<select id="query" resultType="userOrder">
		select
		user_order_id as userOrderId,
		user_id as userId,
		area_id as areaId,
		group_id as groupId,
		address_id as addressId,
		accept_date as acceptDate,
		status_cd as statusCd
		from st_user_order
		where
		user_order_id = #{userOrderId}
	</select>

	<select id="queryList" resultType="userOrder">
		select
		user_order_id as userOrderId,
		user_id as userId,
		area_id as areaId,
		group_id as groupId,
		address_id as addressId,
		accept_date as acceptDate,
		status_cd as statusCd
		from st_user_order
		<where>
			<if test="areaId!=null and areaId!=''">
			     area_id =#{areaId}
			</if>
			<if test="userOrderId!=null and userOrderId!=''">
			   and   user_order_id =#{userOrderId}
			</if>
			<if test="groupId!=null and groupId!=''">
			 	and    group_id =#{groupId}
			</if>
			<if test=" userId!=null and userId!=''">
			    and user_id =#{userId}
			</if>
			<if test="statusCd!=null and statusCd!=''">
			     and status_cd =#{statusCd}
			</if>
		</where>

	</select>

	<delete id="delete">
		delete from st_user_order
		where user_order_id =
		#{userOrderId}
	</delete>
</mapper>