#define($content)
<div class="banner">
	<img src="#springUrl('/resource/images/pic01.jpg')">
</div>
<div class="fl w_1">
  <div class="panel">
    <div class="panel_header">
      <h3>用户登录</h3>
      <p>已经注册的用户从这里登录</p>
    </div>
    <div class="panel_body">
      <table class="table_login m_t">
        <tbody><tr>
          <td nowrap="nowrap" align="right">用户名:</td>
          <td><input type="text" class="text width_input_login" name=""></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right"></td>
          <td></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">密码：</td>
          <td><input type="text" class="text width_input_login" name=""></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right"></td>
          <td><p style="visibility:hidden"><span class="fontred">没有此用户（或密码不正确）</span></p>
            <br>
            <div class="button green">登录</div>
            <div class="button orange">取消</div></td>
        </tr>
        <tr>
      </tr></tbody></table>
      <div class="m_t" style="width:80px;float:left">
        <input type="checkbox" value="" name="">
        记住密码</div>
      <div class="fr m_t"><a class="underline" href="forget.html">忘记密码</a> </div>
    </div>
  </div>
</div>
<div class="fl w_2">&nbsp;</div>
<div class="fl w_3">
  <div class="panel">
    <div class="panel_header">
      <h3>新用户注册</h3>
      <p>您是新用户，请先从这里注册</p>
    </div>
    <div class="panel_body">
      <table class="table_login m_t">
        <tbody><tr>
          <td nowrap="nowrap" align="right">电子信箱:</td>
          <td><input type="text" class="text width_input_login" name="">
            <span class="fontred">验证</span>
            <p> 有效的电子邮件，用于登录以及接收订单通知等，绝不公开</p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">会员名：</td>
          <td><input type="text" class="text width_input_login" name="">
            <span class="fontred">验证</span>
            <p>长度只能在6-20位字符之间</p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">密码：</td>
          <td><input type="password" class="text width_input_login" name="">
            <span class="fontred">验证</span>
            <p> 密码请设为6-20位字符之间</p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">重复密码：</td>
          <td><input type="password" class="text width_input_login" name="">
            <span class="fontred">验证</span></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">手机：</td>
          <td><input type="text" class="text width_input_login" name="">
            <span class="fontred">验证</span></td>
        </tr>
        <tr>
          <td nowrap="nowrap" align="right">验证码：</td>
          <td><input type="text" class="text width_input_chk" name="input">
            <img src="#springUrl('/resource/images/csk.jpeg')"><a class="underline" href="#">看不清</a><span class="fontred">验证</span></td>
        </tr>
        <tr>
          <td></td>
          <td><div class="button green">注册完成</div></td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>
#end