<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 组数据访问映射 -->
<mapper namespace="com.saituo.order.dao.account.GroupDao" >

    <select id="get" resultType="hashmap">
        SELECT
          area_id as "areaId",
          id as "id",
          name as "name"
        FROM
          sys_office
        WHERE
          catagory = 2
        <if test="areaId != null and areaId != ''">
        AND area_id = #{areaId}
        </if>
    </select>

    <select id="getUserGroup" resultType="hashmap">
        SELECT
          g.id as "groupId",
          g.name as "groupName",
          a.name as "areaName",
          a.id as "areaId"
        FROM
          sys_office g
        LEFT JOIN
          sys_user u ON g.id = u.office_id
        LEFT JOIN
          sys_area a ON a.id = g.area_id
        WHERE
          u.id = #{userId}
    </select>

</mapper>