<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 资源数据访问映射 -->
<mapper namespace="com.saituo.order.dao.account.MenuDao" >

    <select id="getChildren" resultType="hashmap">
        SELECT
          id AS "id",
          icon AS "icon",
          name AS "name",
          permission AS "permission",
          remark AS "remark",
          sort AS "sort",
          type AS "type",
          value AS "value",
          fk_parent_id AS "fk_parent_id"
        FROM
          tb_resource
        WHERE
          fk_parent_id = #{id}
    </select>
    
    <select id="getAll" resultType="hashmap">
        SELECT 
          id AS "id",
          icon AS "icon",
          name AS "name",
          permission AS "permission",
          remarks AS "remark",
          sort AS "sort",
          href AS "value"
        FROM
          sys_menu
        WHERE module = 2
        <if test="ignore != null and ignore.length > 0">
            AND id NOT IN
            <foreach collection="ignore" item="id" index="index" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </if>
    </select>

    <select id="count" resultType="long">
        SELECT
          COUNT(id)
        FROM
          sys_menu
    </select>
    
    <select id="getUserMenus" resultType="hashmap">       
      SELECT
	    r.id AS "id",
	    r.parent_id AS "parentId",
	    r.icon AS "icon",
	    r.name AS "name",
	    r.permission AS "permission",
	    r.sort AS "sort",
	    r.is_show AS "isShow", 
	    r.href AS "href",
	    r.type AS "type"
      FROM
	    sys_menu r
      LEFT JOIN
	    sys_role_menu gr ON gr.menu_id = r.id
      LEFT JOIN
	    sys_role g ON gr.role_id = g.id
      LEFT JOIN
	    sys_user_role gu ON gu.role_id = g.id
      LEFT JOIN
	    sys_user u ON gu.user_id = u.id
      WHERE
	    u.id = #{userId}
	  AND
	  	r.module = 2 
	  AND 
	  	r.is_show = 1
	  AND 
	  	r.del_flag = 0
      GROUP BY
        r.id
      ORDER BY
        r.sort
    </select>

    <select id="getGroupResources" resultType="hashmap">
        SELECT
	    r.id AS "id",
	    r.icon AS "icon",
	    r.name AS "name",
	    r.permission AS "permission",
	    r.remark AS "remark",
	    r.sort AS "sort",
	    r.type AS "type",
	    r.value AS "value",
	    r.fk_parent_id AS "fk_parent_id"
      FROM
	    tb_resource r
      LEFT JOIN
	    tb_group_resource gr ON gr.fk_resource_id = r.id
      LEFT JOIN
	    tb_group g ON gr.fk_group_id = g.id
	  WHERE
	    g.id = #{groupId}
    </select>

</mapper>