<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 资源数据访问映射 -->
<mapper namespace="com.saituo.order.dao.account.ResourceDao" >

    <select id="get" resultType="hashmap">
        SELECT 
          id AS "id",
          icon AS "icon",
          name AS "name",
          permission AS "permission",
          remark AS "remark",
          sort AS "sort",
          type AS "type",
          value AS "value",
          fk_parent_id AS "fk_parent_id"
        FROM
          tb_resource
        WHERE 
          id = #{id}
    </select>

    <select id="getChildren" resultType="hashmap">
        SELECT
          id AS "id",
          icon AS "icon",
          name AS "name",
          permission AS "permission",
          remark AS "remark",
          sort AS "sort",
          type AS "type",
          value AS "value",
          fk_parent_id AS "fk_parent_id"
        FROM
          tb_resource
        WHERE
          fk_parent_id = #{id}
    </select>
    
    <select id="getAll" resultType="hashmap">
        SELECT 
          id AS "id",
          icon AS "icon",
          name AS "name",
          permission AS "permission",
          remarks AS "remark",
          sort AS "sort",
          href AS "value"
        FROM
          sys_menu
        WHERE module = 2
        <if test="ignore != null and ignore.length > 0">
            AND id NOT IN
            <foreach collection="ignore" item="id" index="index" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </if>
    </select>

    <select id="count" resultType="long">
        SELECT
          COUNT(id)
        FROM
          sys_menu
    </select>

    <select id="getUserResources" resultType="hashmap">       
      SELECT
	    r.id AS "id",
	    r.icon AS "icon",
	    r.name AS "name",
	    r.permission AS "permission",
	    r.remarks AS "remark",
	    r.sort AS "sort",
	    r.href AS "value"
      FROM
	    sys_menu r
      LEFT JOIN
	    sys_role_menu gr ON gr.menu_id = r.id
      LEFT JOIN
	    sys_role g ON gr.role_id = g.id
      LEFT JOIN
	    sys_user_role gu ON gu.role_id = g.id
      LEFT JOIN
	    sys_user u ON gu.user_id = u.id
      WHERE
	    u.id = #{userId}
	  AND
	  	r.module = 2
      GROUP BY
        r.id
      ORDER BY
        r.sort
    </select>

    <select id="getGroupResources" resultType="hashmap">
        SELECT
	    r.id AS "id",
	    r.icon AS "icon",
	    r.name AS "name",
	    r.permission AS "permission",
	    r.remark AS "remark",
	    r.sort AS "sort",
	    r.type AS "type",
	    r.value AS "value",
	    r.fk_parent_id AS "fk_parent_id"
      FROM
	    tb_resource r
      LEFT JOIN
	    tb_group_resource gr ON gr.fk_resource_id = r.id
      LEFT JOIN
	    tb_group g ON gr.fk_group_id = g.id
	  WHERE
	    g.id = #{groupId}
    </select>

    <select id="nameExists" resultType="boolean">
        SELECT
          count(id)
        FROM
          tb_resource
        WHERE
          name = #{name}
    </select>

    <delete id="delete">
        DELETE FROM tb_resource WHERE id = #{id}
    </delete>

    <delete id="deleteGroupAssociation">
        DELETE FROM tb_group_resource WHERE fk_resource_id = #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO tb_resource (
          icon,
          name,
          permission,
          remark,
          sort,
          type,
          value,
          fk_parent_id
        ) VALUES (
          #{entity.icon},
          #{entity.name},
          #{entity.permission},
          #{entity.remark},
          #{entity.sort},
          #{entity.type},
          #{entity.value},
          #{entity.fk_parent_id}
        )
    </insert>

    <update id="update">
        UPDATE
          tb_resource
        SET
          icon=#{entity.icon},
          permission=#{entity.permission},
          remark=#{entity.remark},
          sort=#{entity.sort},
          type=#{entity.type},
          value=#{entity.value},
          fk_parent_id=#{entity.fk_parent_id}
        WHERE
          id = #{entity.id}
    </update>

</mapper>