<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 组数据访问映射 -->
<mapper namespace="com.saituo.order.dao.account.AddressDao">

	<select id="get" resultType="hashmap">
		select
		address_id as "address_id",
		cust_id as "cust_id",
		receipt_address as "receipt_address",
		receipt_person as "receipt_person",
		contact_phone as "contact_phone",
		invoice_caput as "invoice_caput",
		invoice_require as "invoice_require",
		other_require as "other_require"
		from st_address
		where
		address_id = #{id}
	</select>

	<select id="getAddressList" resultType="hashmap">
		select
		address_id as "address_id",
		cust_id as "cust_id",
		receipt_address as "receipt_address",
		receipt_person as "receipt_person",
		contact_phone as "contact_phone",
		invoice_caput as "invoice_caput",
		invoice_require as "invoice_require",
		other_require as "other_require"
		from st_address
		where
		cust_id =#{cust_id}
	</select>

</mapper>