<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="com.saituo.order.dao.account.UserDao" >

	<select id="get" resultType="hashmap">
          SELECT
            id AS "id",
            email AS "email",
            name AS "name",
            password AS "password",
            login_name AS "loginName",
  			company_id AS "companyId",
  			office_id AS "officeId",
  			mobile AS "mobile",
  			user_catagory AS "userCatagory"
          FROM
            sys_user
          WHERE
            id = #{id}
	</select>
	
	<select id="getAllofUser" resultType="hashmap">
          SELECT
            id AS "id",
            name AS "name"
          FROM
            sys_user
	</select>

	<select id="getByUsernameOrEmail" resultType="hashmap">
          SELECT
            id AS "id",
            email AS "email",
            name AS "name",
            password AS "password",
            login_name AS "login_name",
            user_catagory AS "userCatagory",
            company_id AS "companyId",
  			office_id AS "officeId",
  			mobile AS "mobile"
          FROM
            sys_user
          WHERE
            login_name = #{usernameOrEmail} OR email = #{usernameOrEmail}
	</select>

	<select id="find" resultType="hashmap">
        SELECT
          id AS "id",
          email AS "email",
          name AS "name",
          password AS "password",
          login_name AS "login_name",
          user_catagory AS "userCatagory"
        FROM
          sys_user
        WHERE
          del_flag = 0
		<if test="filter.login_name != null and filter.login_name != ''">
            AND login_name LIKE #{filter.login_name}
		</if>

		<if test="filter.name != null and filter.name != ''">
            AND name LIKE #{filter.name}
		</if>

		<if test="filter.email != null and filter.email != ''">
            AND email LIKE #{filter.email}
		</if>
        
        ORDER BY id DESC
		<if test="filter.first != null and filter.last != null">
            LIMIT #{filter.first},#{filter.last}
		</if>
	</select>

	<select id="count" resultType="long">
        SELECT
          COUNT(id)
        FROM
          sys_user
        WHERE
          del_flag = 0
		<if test="filter.login_name != null and filter.login_name != ''">
          AND login_name LIKE #{filter.login_name}
		</if>

		<if test="filter.email != null and filter.email != ''">
          AND email LIKE #{filter.email}
		</if>
	</select>

	<update id="update">
		<trim prefix="SET" suffixOverrides="," />
        UPDATE
          sys_user
        SET
          email=#{entity.email},
          name=#{entity.name},
          phone=#{entity.phone},
          mobile=#{entity.mobile}
        WHERE
          id = #{entity.id}
	</update>

	<update id="updatePassword">
        UPDATE
          sys_user
        SET
          password = #{password}
        WHERE
          id = #{id}
	</update>
    
	<select id="findAllofUserByOfficeId" resultType="hashmap">
    	SELECT
          id AS "id",
          name AS "name",
          office_id AS "officeId"
        FROM
          sys_user
        WHERE
          del_flag = 0
		<if test="filter.officeId != null and filter.officeId != ''">
          AND office_id = #{filter.officeId}
		</if>
		<if test="filter.userId != null and filter.userId != ''">
          AND id = #{filter.userId}
		</if>
	</select>
    
	<select id="findAllofUserByAreaId" resultType="hashmap">
    	SELECT
          u.id AS "id",
          u.name AS "name",
          o.area_id AS "areaId"
        FROM
			sys_user u, sys_office o
        WHERE 
        	u.del_flag = 0
        AND 
			o.del_flag = 0
        AND 
        	u.office_id = o.id
        AND 
        	u.user_catagory = 1
		<if test="filter.areaId != null and filter.areaId != ''">
          AND o.area_id = #{filter.areaId}
		</if>
		<if test="filter.userId != null and filter.userId != ''">
          AND u.id = #{filter.userId}
		</if>
	</select>
    
	<select id="findUserByAreaIdAndRole" resultType="hashmap">
    	SELECT
          u.id AS "id",
          u.name AS "name"
        FROM
			sys_user u, sys_office o, sys_role r, sys_user_role ur
        WHERE 
        	u.del_flag = 0
        AND 
			o.del_flag = 0
        AND 
        	r.del_flag = 0
        AND
        	u.office_id = o.id
        AND 
        	ur.user_id = u.id
        AND 
        	ur.role_id = r.id
        AND
        	u.user_catagory = 2
		<if test="areaId != null and areaId != ''">
          AND o.area_id = #{areaId}
		</if>
		<if test="roleSign != null and roleSign != ''">
          AND r.role_sign = #{roleSign}
		</if>
        
	</select>

</mapper>