<#include "*/basic/default.html"/>
<#macro head>
<script type="text/javascript">
	$(function(){
		$('.Q-buy-btn').shoping();
		$('.Q-record-btn').record();
		$('.Q-stock-btn').stock();
	});
</script>
</#macro>

<#macro body>
<div class="containerPx clearfix">
	<@shiro.guest>
	<div class="grid1 m_t">
		<div class="subnav">
			<p class="subnav-header">产品中心</p>
		</div>
	</div>
	</@shiro.guest>
	<div class="grid2 m_t">
		<div class="panel_body clearfix">
        	<table width="100%" class="table_pro_header">
          		<tbody>
	          		<tr>
		            	<th width="308">产品</th>
			            <th width="100">规格</th>
			            <th width="60">单位</th>
			            <th width="100">目录价</th>
			            <@shiro.authenticated>
				            <#if Session["session_variable"].isInternalUser?string('true','false') == "true">
								<#if Session["session_variable"].roleList?seq_contains("4")>
									<th width="130">操作</th>
								</#if>
							<#else>
								<#if Session["session_variable"].groupId?string != newRegisterOfficeId>
									<th width="130">操作</th>
								</#if>
							</#if>
						</@shiro.authenticated>
			        </tr>
		    	</tbody>
			</table>
        	<table width="100%" class="table_pro_body">
				<tbody>
					<#if page.content?size == 0>
	                    <tr>
	                        <td colspan="6"> 没有记录</td>
	                    </tr>
                    <#else>
                        <#list page.content as r>
                        <tr>
	                        <td width="308" align="left">
								<p><span class="pro_name">${r.productName!}</span></p>
								<p><b>货号：</b>${r.productNum!}</p>
								<p><b>品牌：</b>${r.brandId!}</p>
							</td>
                            <td width="100" align="center">${r.specValue!"0"}</td>
				            <td width="60" align="center">${r.unitValue!}</td>
				            <td width="100" align="center">${r.catalogFee!}</td>
				            <@shiro.authenticated>
								<!-- 内部用户时 -->
								<#if Session["session_variable"].isInternalUser?string('true','false') == "true">
									<#if Session["session_variable"].roleList?seq_contains("4")>
										<td width="130" align="center">
						            		<div id="${r.productId}" class="button green medium Q-stock-btn">加入备货</div>
			          					</td>
									</#if>
								<#else>
									<#if Session["session_variable"].groupId?string != newRegisterOfficeId>
										<td width="130" align="center">
			                            	<a href="#">
							            		<div id="${r.productId}" class="button green medium fl Q-buy-btn">加入购物车</div>
							            	</a>
							            	<a href="#">
				          						<div id="${r.productId}" class="button orange medium fl Q-record-btn">记录</div>
				          					</a>
				          				</td>
				          			</#if>
								</#if>
							</@shiro.authenticated>
                        </tr>
                        </#list>
                    </#if>
				</tbody>
			</table>
        	<p class="pageBar"></p>
        	<#assign parameterMap = { "searchContext":"${searchContext}"}>
			<@pager page "${base}/views/search/productlist" parameterMap />
		</div>
	</div>
</div>
</#macro>